[submodule "Carthage/Checkouts/Focus"]
	path = Carthage/Checkouts/Focus
	url = https://github.com/typelift/Focus.git
[submodule "Carthage/Checkouts/SwiftCheck"]
	path = Carthage/Checkouts/SwiftCheck
	url = https://github.com/typelift/SwiftCheck.git
[submodule "Carthage/Checkouts/Swiftz"]
	url = https://github.com/typelift/Swiftz.git
	path = Carthage/Checkouts/Swiftz
