[submodule "Carthage/Checkouts/Focus"]
	path = Carthage/Checkouts/Focus
	url = https://github.com/typelift/Focus.git
[submodule "Carthage/Checkouts/SwiftCheck"]
	path = Carthage/Checkouts/SwiftCheck
	url = https://github.com/typelift/SwiftCheck.git
[submodule "Carthage/Checkouts/Operadics"]
	path = Carthage/Checkouts/Operadics
	url = https://github.com/typelift/Operadics.git
